{%extends "layout.html" %}

{% block description %}Kontaktinformationen zum ReGENESIS-Projekt, welches die Daten von Bundes- und Landesstatisikämtern in einfacher Form bereitstellt.{% endblock %}

{% block keywords %}Kontakt, Statistik, Regionalstatistik, Daten{% endblock %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <h2 class="page-title">Kontakt und Mitmachen</h2>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6 content">
        <p>
            ReGENESIS wird als freie Software unter der MIT-Lizenz auf GitHub entwickelt. Wir freuen 
            uns über Fehlerbeschreibungen und Pull Requests für neue Funktionen.
        </p>
        <ul class="bullets">
            <li>Quellcode: <a href="https://github.com/pudo/regenesis"><i class="icon-github"></i> pudo/regenesis</a></li>
            <li>Bug tracker: <a href="https://github.com/pudo/regenesis/issues"><i class="icon-github"></i> pudo/regenesis:issues</a></li>
            <li><a href="http://pudo.org">Direkter Kontakt</a> zu Friedrich Lindenberg</li>
            
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-lg-6 content">
        <p>
            Die Entwicklung von ReGENESIS wird durch ein OpenNews-Stipendium der Knight Foundation 
            und der Mozilla Foundation ermöglicht.
        </p>
        <p>
            <a href="http://mozillaopennews.org"><img src="/static/img/onlogo.png" alt="Knight-Mozilla OpenNews"></a>
        </p>
      </div>
  </div>
    <br>
    <p>
        Leider können die ReGENESIS-Entwickler Ihnen nicht als Rechercheservice für Daten
        bereit stehen, die nicht auf dieser Seite verfügbar sind. Wir bitten Sie, eine
        Suchmaschine zu benutzen bevor Sie sich an uns wenden.
    </p>

{% endblock %}