
body {
  font-family: OpenSans, sans-serif;
}

footer {
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  border-top: 1px solid #eee;
}

footer ul {
  list-style: none;
  padding: 0; 
  margin: 0;
}

footer ul li {
  display: inline;
  margin: 0 0 0 1em;
}
